<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.learn.spring.mybatis.dao.StudentMapper">
  <resultMap id="BaseResultMap" type="com.learn.spring.mybatis.model.Student">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="cnname" jdbcType="VARCHAR" property="cnname" />
    <result column="sex" jdbcType="VARCHAR" property="sex" />
    <result column="note" jdbcType="VARCHAR" property="note" />
    <association property="studentSelfcard" column="id" select="com.learn.spring.mybatis.dao.StudentSelfcardMapper.selectByStudentId"></association>
    <collection property="studentLectures" column="id" select="com.learn.spring.mybatis.dao.StudentLectureMapper.selectByStudentId"></collection>
  </resultMap>
  <sql id="Base_Column_List">
    id, cnname, sex, note
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_student
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_student
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.learn.spring.mybatis.model.Student">
    insert into t_student (id, cnname, sex, 
      note)
    values (#{id,jdbcType=INTEGER}, #{cnname,jdbcType=VARCHAR}, #{sex,jdbcType=VARCHAR}, 
      #{note,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.learn.spring.mybatis.model.Student">
    insert into t_student
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="cnname != null">
        cnname,
      </if>
      <if test="sex != null">
        sex,
      </if>
      <if test="note != null">
        note,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="cnname != null">
        #{cnname,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="note != null">
        #{note,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.learn.spring.mybatis.model.Student">
    update t_student
    <set>
      <if test="cnname != null">
        cnname = #{cnname,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        sex = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="note != null">
        note = #{note,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.learn.spring.mybatis.model.Student">
    update t_student
    set cnname = #{cnname,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=VARCHAR},
      note = #{note,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>